body {
    background: rgb(54, 151, 151);
}

header {
    color: white;
    text-align: center;
}

section { 
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55); /* Adicionando Sombra */
    
}

div  {
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}